*~
.DS_Store
._.DS_Store
node_modules
*.js.map
*.js
!src/cl/handwrittenjs/*.js
!spec/fixture/indexing/*/*.js
*.d.ts
!src/cl/handwrittenjs/driver.d.ts
!browser/*.js
browser/milsushi2.js
browser/milsushi2_cl.js
/docs_raw/jekyll/.sass-cache/
!/docs_raw/jekyll/js/*.js
!/docs/js/*.js
