*~
.DS_Store
._.DS_Store
node_modules
*.js.map
src/sushi.js
src/matrix.js
src/colon.js
src/colonwrap.js
src/util.js
src/func_generator.js
src/shape_converter.js
src/cl/matrix_cl.js
spec/sushi.spec.js
